@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body, .container {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: none;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  min-height: 100%;
  height: 100%;
}

.container {
  background-color: #fff;

  .left {
    float: left;
    width: 340px;
    height: 100%;
    border: 1px solid #e6e6e6;
    background-color: #fff;

    .top {
      position: relative;
      width: 100%;
      height: 96px;
      padding: 29px;

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 80%;
        height: 1px;
        content: '';
        background-color: #e6e6e6;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
    }

    input {
      float: left;
      width: calc(100% - 70px);
      height: 42px;
      padding: 0 15px;
      border: 1px solid #e6e6e6;
      background-color: #eceff1;
      border-radius: 21px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;

      &:focus {
        outline: none;
      }
    }

    button.search {
      display: block;
      float: right;
      width: 52px;
      height: 42px;
      margin-left: 10px;
      border: 1px solid #e6e6e6;
      background-color: #00b0ff;
      border-radius: 5px;
      color: white;
      text-align: center;
      outline: none;
      cursor: pointer;
    }

    .people {
      margin-left: -1px;
      border-right: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      width: calc(100% + 2px);

      .person {
        position: relative;
        width: 100%;
        padding: 12px 10% 16px;
        cursor: pointer;
        background-color: #fff;

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 80%;
          height: 1px;
          content: '';
          background-color: #e6e6e6;
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
        }

        img {
          float: left;
          width: 40px;
          height: 40px;
          margin-right: 12px;
          border-radius: 50%;
        }
        
        &.active, &:hover {
          margin-top: -1px;
          margin-left: -1px;
          padding-top: 13px;
          border: 0;
          background-color: #00b0ff;
          width: calc(100% + 2px);
          padding-left: calc(10% + 1px);
        }

        &.active span, &:hover span {
          color: #fff;
          background: transparent;
        }

        &.active:after, &:hover:after {
          display: none;
        }
      }
    }
  }

  .right {
    -webkit-box-flex: 1;
    flex: 1 1px;
    position: relative;
    float: left;
    width: calc(100% - 340px);
    height: 100%;

    .notice {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .top {
      width: 100%;
      height: 47px;
      padding: 15px 29px;
      background-color: #eceff1;

      span {
        font-size: 15px;
        color: #999;

        .name {
          color: #1a1a1a;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600;
        }
      }
    }

    .chat {
      position: relative;
      display: none;
      overflow-x: hidden;
      padding: 20px 35px 20px;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: #e6e6e6;
      height: calc(100% - 148px);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;

      &.active-chat {
        display: -webkit-box;
        display: flex;
      }
    }

    .write {
      position: absolute;
      bottom: 29px;
      left: 30px;
      height: 42px;
      padding-left: 8px;
      border: 1px solid #e6e6e6;
      background-color: #eceff1;
      width: calc(100% - 58px);
      border-radius: 5px;

      input {
        font-size: 16px;
        float: left;
        width: calc(100% - 90px);
        height: 40px;
        padding: 0 10px;
        color: #1a1a1a;
        border: 0;
        outline: none;
        background-color: #eceff1;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
      }

      .write-link {
        &.attach {
          float: left;
          width: 20px;
          height: 42px;
          display: flex;
          align-items: center;
        }

        &.smiley {
          float: right;
          width: 20px;
          height: 42px;
          margin-right: 11px;
          display: flex;
          align-items: center;
        }

        &.send {
          float: right;
          width: 20px;
          height: 42px;
          margin-right: 11px;
          display: flex;
          align-items: center;
        }
      }
    }

    .bubble {
      font-size: 16px;
      position: relative;
      display: inline-block;
      clear: both;
      margin-bottom: 8px;
      padding: 13px 14px;
      vertical-align: top;
      border-radius: 5px;

      &:before {
        position: absolute;
        top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        content: '\00a0';
        -webkit-transform: rotate(29deg) skew(-35deg);
        transform: rotate(29deg) skew(-35deg);
      }

      &.you {
        float: left;
        color: #1a1a1a;
        background-color: #eceff1;
        align-self: flex-start;
        -webkit-animation-name: slideFromLeft;
        animation-name: slideFromLeft;

        &:before {
          left: -3px;
          background-color: #eceff1;
        }
      }

      &.me {
        float: right;
        color: #1a1a1a;
        background-color: #eceff1;
        align-self: flex-end;
        -webkit-animation-name: slideFromRight;
        animation-name: slideFromRight;

        &:before {
          right: -3px;
          background-color: #eceff1;
        }
      }
    }

    .conversation-start {
      position: relative;
      width: 100%;
      margin-bottom: 27px;
      text-align: center;

      span {
        font-size: 14px;
        display: inline-block;
        color: #999;

        &:before, &:after {
          position: absolute;
          top: 10px;
          display: inline-block;
          width: 30%;
          height: 1px;
          content: '';
          background-color: #e6e6e6;
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }
      }
    }
  }
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    opacity: 1;
  }
}